# Ignore build files similar to .gitignore
.vscode
.idea
.github
.husky
.eslint*
.prettier*
*.tgz
jest*
build
cmake-build-*
coverage
node_modules
tests
shared
!**/dist/shared/
!**/dist/shared/**

# Exclude docs, those can be accessed online
docs
*.md

# Exclude example
example

# Exclude all tests, test helpers and such
*.test.*

# Exclude all TypeScript source files
*.ts
*.mts
!*.d.ts
!*.d.mts
*test*.d.ts
*test*.d.mts


# Exclude native fuzzer sources
**/CMakeLists.txt
**/*.cpp
**/*.h
